<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue"></script>
    <title>Document</title>
</head>

<body>

    <div id="app">
        <h1>{{ title }}</h1>
        <div v-if="showContent">
            <p>Content</p>
            <p>Users:</p>
            <ul>
                <!-- <li v-for="(user, index) in users" :key="index"> -->
                <li v-for="(user, index) in users" :key="user.id">
                    <p>{{ index }} - {{ user.name }}</p>
                    <span> {{ user.email }} - {{ user.age }}</span>
                </li>
            </ul>
        </div>
        <button @click="getContent">Get content</button>
    </div>

    <script>
        let app = new Vue({
            el: '#app',
            data: {
                title: 'DATA (v-for)',
                // number: 123,
                showContent: false,
                // user: {
                //     name: 'Jack',
                //     email: 'info@tocode.ru'
                // },
                users: [{
                    id: 123,
                    name: 'Jack',
                    email: 'info@tocode.ru',
                    age: 22
                }, {
                    id: 321,
                    name: 'Ivan',
                    email: 'Ivan@tocode.ru',
                    age: 25
                }, {
                    id: 223,
                    name: 'Alex',
                    email: 'Alex@tocode.ru',
                    age: 28
                }, ]
            },
            methods: {
                getContent() {
                    this.showContent = !this.showContent
                        // console.log(this.user)
                    console.log(this.users)
                }
            },
        })
    </script>
</body>

</html>